@media print {

    @page {
        size: landscape;

    }
    .print {

        display: inline ;
        width: 11in;
        height: 8.5in;

    }

    /*
    .leaflet-map-pane {
        width:100%;
        height:auto;
        display: inline ;
        page-break-after:always;
        -webkit-print-color-adjust: exact;
    }

    .leaflet-overlay-pane {
        width:100%;
        height:auto;
        left: 0px ;
        page-break-after:always;
    }*/

    .icon-size {
        height: 50px;
        width: 50px;
    }
    .icon-div {
        height:20px;
        width: 70px;
    }
    .icon-label {
        vertical-align:top;
        height: 20px;
        width: 60px;
        display: inline-block;
        margin-top: 2px;
        text-shadow:2px 2px 0 #fff,
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        0px 2px 0 #fff,
        2px 0px 0 #fff,
        0px -2px 0 #fff,
        -2px 0px 0 #fff;

    }
    .icon-status-red {
        height: 10px;
        width: 10px;
        background-color: red;
        display: inline-block !important;
        -webkit-print-color-adjust: exact;

    }

    .icon-status-green {
        height: 10px;
        width: 10px;
        background-color: green;
        display: inline-block !important;
        -webkit-print-color-adjust: exact;
    }

}